<table style="border: 0; width: 100%">

  <tr>
    <td>
      <form action="<%= question_state_next_question_path %>">
        <button>Next question</button>
      </form>
    </td>
    <td>
      <form action="<%= question_state_next_topic_path %>">
        <button>Next topic</button>
      </form>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>
      <form action="<%= question_state_next_topic_question_path %>">
        <button>Next question in current topic</button>
      </form>
    </td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>

  <tr>
    <td>&nbsp;</td>
    <td>
      <form action="<%= question_state_first_topic_path %>">
        <button>First topic (RESET)</button>
      </form>
    </td>
  </tr>
</table>
