<table style="border: 1px solid black; width: 100%; padding: 2px">

  <tr>
    <td>
      <form action="<%= question_state_next_question_path %>">
        <button>Next question</button>
      </form>
    </td>

    <td>
      <table style="border: 2px solid red; width: 200px">
        <tr>
          <td>
            <form action="<%= question_state_next_topic_path %>">
              <button>Next topic</button>
            </form>
          </td>
        </tr>

        <tr>
          <td>
            <form action="<%= question_state_next_topic_question_path %>">
              <button>Next question in current topic</button>
            </form>
          </td>
        </tr>

        <tr>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td>&nbsp;</td>
        </tr>

        <tr>
          <td>
            <form action="<%= question_state_first_topic_path %>">
              <button>First topic (RESET)</button>
            </form>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
