<%= render partial: 'state' %>
<hr/>
<h2>Current Question</h2><br />
<pre class="pre-question"><%= @question.text %></pre>
<hr/>
<h2>Current Answer</h2><br />
<pre class="pre-answer"><%= @question.answer %></pre>
