<%= render partial: 'state' %>
<hr/>
<h2>Current Question</h2><br />
<pre style="border: 1px solid black; padding: 4px"><%= @question.text %></pre>
<hr/>
<h2>Current Answer</h2><br />
<pre style="border: 1px solid black; padding: 4px"><%= @question.answer %></pre>
